<!--お問い合わせ完了画面-->
<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 style="margin-bottom: 40px;">お問い合わせありがとうございます</h2>
      <p style="line-height: 35px;">
        先ほどお問い合わせ頂いた内容に関しましては</br>
        運営の方で確認し順番に対応させていただきます。</br>
        対応の際は、先ほどご記載いただいた</br>
        メールアドレス宛に運営の方からご連絡を差し上げます。</br>
        また、お問い合わせが混雑している際は</br>
        対応までに３〜４営業日ほどお時間を頂戴することになりますので</br>
        予めご了承ください。</br>
        お問い合わせ頂いた内容に関しましては</br>
        Be.Diaryスタッフ一同、真摯に受け止め今後のより良い運営に努めてまいります。</br>
        今後ともBe.Diaryをよろしくお願いいたします。
      </p>
    </div>
  </div>
</div>